body {
  display: flex;
  margin: 0;
}

iframe {
  height: 100vh;
  flex: 3;
  border: none;
}

div {
  margin: 10px;
}

.buttons > button {
  width: 100%;
  border: 1px black solid;
  box-sizing: border-box;
  background-color: white;
  display: block;
  
}

.buttons {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  display: inline-block;
  flex: 1;
  z-index: 1000;
}

.connection {
  color: red;
}
